[submodule "SwiftKeychain"]
	path = SwiftKeychain
	url = https://github.com/p2/SwiftKeychain
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = git@github.com:CocoaLumberjack/CocoaLumberjack.git
